a {
	color: #CA3B67;
	font-weight: bold;
	text-decoration: none;
}

p a {
	text-decoration: none;
}

.class-section p, footer p {
	margin: 0px;
}

.about img {
	width: 50%;
	padding-bottom: 20px;
}

.previous-classes .date {
	font-size: 14px;
}

p.date {
	padding-bottom: 10px;
}

.about {
	text-align: center;
}

.about-kseniya {
	padding-bottom: 20px;
}

.about hr.small {
	border-color: black;
	padding-bottom: 40px;
}

footer {
	background-color: #161648;
/*	color: white;*/
	font-size: 14px;
	text-align: center;
	margin-top: 70px;
}

footer p {
	color: white;
}

form {
	padding-top: 50px;
}

#tlemail {
	width: 100%;
	margin-top: 10px;
	color: black;
}

button, html input[type=button], input[type=reset], input[type=submit]{
	margin-top: 10px;
	background-color: #CA3B67;
	border: none;
	color: white;
}

.tinyletter {
	font-size: 12px;
	margin-top: 10px;
}

.copyright-div {
	padding-top: 50px;
}

.footer-heading {
	font-weight: bold;
	padding-bottom: 10px;
}

.contact-us {
	padding-top: 10px;
}

.navbar-custom .navbar-brand {
	letter-spacing: 1px;
	color: #CA3B67;
	font-size: 20px;
}


@media only screen and (min-width: 992px) {
	.about img {
		width: 100%;
		padding-top: 50px;
	}
	.about hr.small {
		display: none;
	}
	form {
		padding-top: 0px;
	}
}