
a {
	color: #CA3B67;
	font-weight: bold;
	text-decoration: none;
}

p a {
	text-decoration: none;
}

.about img {
	width: 50%;
	padding-bottom: 20px;
}

.previous-classes p {
	line-height: 0px;
}

.previous-classes .date {
	font-size: 14px;
}

p.date {
	padding-bottom: 3px;
}

.about {
	text-align: center;
}

.about-kseniya {
	padding-bottom: 20px;
}

.about hr.small {
	border-color: black;
	padding-bottom: 40px;
}

@media only screen and (min-width: 992px) {
	.about img {
		width: 100%;
	}
	.about hr.small {
	display: none;
}
}